language: php

php:
  - 5.6

env:
  global:
    - setup=develop
    - APP_ENV=local
    - APP_DEBUG=true
    - APP_KEY=wRIAX0ss8ygHTT5cD9sGzLVwHCqLNU3U
    - DB_CONNECTION=mysql
    - DB_DATABASE=elsa_blog
    - DB_USERNAME=root
    - CACHE_DRIVER=file
    - SESSION_DRIVER=file
    - QUEUE_DRIVER=sync

#matrix:
#  include:
#    - php: 5.6
#      env: setup=develop
#    - php: 5.6
#      env: setup=staging
#    - php: 5.6
#      env: setup=production

sudo: false

services:
  - mysql

mysql:
  database: elsa_blog
  username: root
  encoding: utf8

before_install:
  - cd sources
  - composer self-update
  - mysql -u root -e 'create database elsa_blog;'

install:
  - composer install --no-interaction --prefer-dist

before_script:
  - export PHPCS_DIR=/tmp/phpcs
  - export SNIFFS_DIR=/tmp/sniffs
  # Install CodeSniffer for WordPress Coding Standards checks.
  - if [[ "$SNIFF" == "1" ]]; then git clone -b master --depth 1 https://github.com/squizlabs/PHP_CodeSniffer.git $PHPCS_DIR; fi
  # Install PHP Compatibility sniffs.
  - if [[ "$SNIFF" == "1" ]]; then git clone -b master --depth 1 https://github.com/wimg/PHPCompatibility.git $SNIFFS_DIR/PHPCompatibility; fi
  # Set install path for PHPCS sniffs.
  # @link https://github.com/squizlabs/PHP_CodeSniffer/blob/4237c2fc98cc838730b76ee9cee316f99286a2a7/CodeSniffer.php#L1941
  - if [[ "$SNIFF" == "1" ]]; then $PHPCS_DIR/scripts/phpcs --config-set installed_paths $SNIFFS_DIR; fi
  # After CodeSniffer install you should refresh your path.
  - if [[ "$SNIFF" == "1" ]]; then phpenv rehash; fi
  - php artisan migrate
  - php artisan db:seed

script:
  # Search for PHP syntax errors. In this only scan app's folder
  - find -L ./app -name '*.php' -print0 | xargs -0 -n 1 -P 4 php -l
  # @link http://pear.php.net/package/PHP_CodeSniffer/
  # -p flag: Show progress of the run.
  # -s flag: Show sniff codes in all reports.
  # -v flag: Print verbose output.
  # -n flag: Do not print warnings. (shortcut for --warning-severity=0)
  # --standard: Use WordPress as the standard.
  # --extensions: Only sniff PHP files.
  - phpcs --standard=PSR1 app/
  - phpcs --standard=PSR2 app/
  - vendor/bin/phpunit